body{
  font-family: 'Anonymous Pro', sans-serif;
  margin: auto;
  width:600px;
  background: black;
  color: lightgray;
}
code{
  font-family: 'Anonymous Pro', sans-serif;
  color: green;
}
dt{
  font-weight:bold;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.warningtext{
  background: #300;
  color: red;
  padding: 5px;
  border: 1px solid;
}
